[submodule "Library/AssetStudio"]
	path = Library/AssetStudio
	url = https://github.com/yretenai/AssetStudio.git
[submodule "Library/SharpGLTF"]
	path = Library/SharpGLTF
	url = https://github.com/yretenai/SharpGLTF
[submodule "Library/DragonLib"]
	path = Library/DragonLib
	url = https://github.com/yretenai/DragonLib.git
